* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:aquamarine;
    height:50px;
    width:auto;
}

.main-nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:orange;
    height:30px;
    width:700px;
    border:dashed;
    
}

.main-nav ul {
   display:flex;
   flex-direction:row;
   list-style:none;

}

.main-nav li {
    flex-direction:row;
}

.main-nav ul li a {
    text-decoration:none;
}

.link{
    justify-content:center;
    border-left:dashed;
    border-right:dashed;
}
.container {
    display:flex;
    flex-direction:column;
}
.jumbotron {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:blue;
    height:200px;
}

.jumbotron-content{
    background-color:pink;
    width: 600px;
    height:150px;
    border: dashed;
}

.content-white {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:white;
    height:300px;
}

.blu {
    background-color:blue;
    width:500px;
    height:250px;
    border:dashed;
}

.rosa {
    background-color:pink;
    width:300px;
    height:250px;
    border:dashed;
}


.content-grey {
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:center;
    background-color:grey;
    height:300px;
}

.content-lightgrey {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:lightgrey;
    height:600px;
}

.green{
    background-color:green;
    width: 800px;
    height:450px;
    border: dashed;
}

